.profile__edit {
  width: 24px;
  height: 24px;
  background: url('../../../images/Edit\ Button.svg') no-repeat center;
  border-style: none;
  border: #FFFFFF;
  margin: auto 0 auto auto;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 60%;
}

@media screen and (max-width: 900px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    border: 1px solid #FFFFFF;
  }
}