.popup__form {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

@media screen and (max-width: 900px) {
 .popup__form {
    max-width: 238px;
 }
}