.profile__text {
  max-width: 336px;
  margin: 16px 0 0 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .profile__title {
    max-width: 282px;
    font-size: 14px;
    line-height: 16px;
    margin: 7px auto 0 auto;
  }
}