.profile__info {
    max-width: 336px;
    margin: auto auto auto 30px;
}

@media screen and (max-width: 900px) {
    .profile__info{
      max-width: 282px;
      margin: 26px auto 36px auto;
    }
  }