.profile__button {
  background: url('../../../images/addplus.svg') no-repeat center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  margin: auto 0 auto auto;
  padding: 0;
  
}

@media screen and (max-width: 900px) {
  .profile__button {
    width: 100%;
    font-size: 27px;
    line-height: 32px;
    margin: 0;
  }
}